In [2]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.2-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sungg\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\sungg\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ------------ --------------------------- 3.7/11.5 MB 21.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.5 MB 24.0 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 24.0 MB/s eta 0:00:00
Downloading numpy-2.2.2-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   --------------- ------------------------ 5.0/12.6 MB 25.1 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.6 MB 23.5 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 23.2 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [3]:
import pandas as pd

data = [[1, 1], [2, 2], [3, 3], [4, 3]]
orders = pd.DataFrame(data, columns=['order_number', 'customer_number']).astype({'order_number':'Int64', 'customer_number':'Int64'})

In [4]:
orders

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3

In [12]:
pd.DataFrame(orders['customer_number'].value_counts()[0:1].index).reset_index(drop=True)

   customer_number
0                3

In [19]:
pd.DataFrame(orders['customer_number'].value_counts()[0:1].index)

   customer_number
0                3

In [13]:
counts = orders.groupby('customer_number').size().reset_index(name='count')
counts.sort_values(by='count', ascending=False, inplace=True)
counts[['customer_number']][0:1]

   customer_number
2                3

In [18]:
orders.groupby('customer_number').size()

customer_number
1    1
2    1
3    2
dtype: int64

In [14]:
counts

   customer_number  count
2                3      2
0                1      1
1                2      1

In [20]:
counts.shape

(3, 2)